
{% extends 'Ecom/Base.html' %}
{% load static %}


{% block title %}
Change Password
{% endblock title %}
    
{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
{% endblock extracss %}

{% block main %}
    







<!-- ============================================== HEADER : END ============================================== -->
<div class="breadcrumb">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li class='active'>Profile</li>
      </ul>
    </div><!-- /.breadcrumb-inner -->
  </div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-8 col-sm-12">
            <a href="{% url 'user_profile' %}" class="btn btn-info">UserProfile</a><br><br>
            <a href="{% url 'Order_showing' %}" class="btn btn-info">My Orders</a><br><br>
            <a href="{% url 'Order_Product_showing' %}" class="btn btn-info">My Order Product</a><br><br>
            <a href="{% url 'user_comment' %}" class="btn btn-info">My Comments</a><br><br>
            <a href="{% url 'mywishlist' %}" class="btn btn-info">My Wishlist</a><br><br>
            <a href="{% url 'user_update' %}" class="btn btn-info">Update Profile</a><br><br>
            <a href="{% url 'change_password' %}" class="btn btn-info">Change_Password</a><br><br>
            <a href="{% url 'logout_user' %}" class="btn btn-info">Logout</a><br><br>
        </div>
        <div class="col-md-8 col-sm-12 col-lg-8">
            <div class="sidebar-widget outer-top-vs ">
                <div id="advertisement" class="advertisement">
                  <div class="item">
                    <div class="avatar">
                      
                      {% if profile.image %}
                      <img src="{{ profile.imageurl }}" alt="Image">
                        
                      {% else %}
                      <img src="{{ settings.imageurl }}" alt="Image">

                      {% endif %}
                        
                    </div>
                    <br>

                    {% if pass_form.errors.old_password %}
                      <div class="alert alert-danger">
                          {{pass_form.errors.old_password}}
                      </div>
                      {% endif %}

                      {% if pass_form.errors.new_password1 %}
                      <div class="alert alert-danger ">
                          {{pass_form.errors.new_password1}}
                      </div>
                      {% endif %}

                      {% if pass_form.errors.new_password2 %}
                      <div class="alert alert-danger ">
                          {{pass_form.errors.new_password2}}
                      </div>
                      {% endif %}


                      
                        

                    <form action="" method="post">
                        {% csrf_token %}
                        <label class="form-control-label m-2">Old Password</label><br>
                        <input type="password" required name="old_password" class="form-control"><br><br>

                        <label class="form-control-label m-2">New Password</label><br>
                        <input type="password" required name="new_password1" class="form-control"><br><br>

                        <label class="form-control-label m-2">Confirm Password</label><br>
                        <input type="password" required name="new_password2" class="form-control"><br><br>
                        <br>
                        <button class="btn btn-info">Save</button>
                    </form>


                    <!-- /.container-fluid --> 
                  </div>
                  <!-- /.item -->
                  
                
                  
                </div>
                <!-- /.owl-carousel --> 
              </div>
              
        </div>
    </div>
</div>


{% endblock main %}
