
{% extends 'Ecom/Base.html' %}
{% load static %}


{% block title %}
Login
{% endblock title %}
    
{% block extracss %}
  
{% endblock extracss %}

{% block main %}
    



<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="{% url 'home' %}">Home</a></li>
				<li class='active'>Login</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="body-content">
	<div class="container">
		<div class="sign-in-page">
			<div class="row">
				<!-- Sign-in -->			
<div class="col-md-12 col-sm-12 sign-in">
	<h4 class="">Sign in</h4>
	<p class="">Hello, Welcome to your account.</p>
	
	<form class="register-form outer-top-xs" role="form" method="POST">
        {% csrf_token %}
		<div class="form-group">
		    <label class="info-title" for="exampleInputEmail1">Username or Email Address <span>*</span></label>
		    <input type="text" required name="username" class="form-control unicase-form-control text-input" id="data1" >
		</div>
	  	<div class="form-group">
		    <label class="info-title" for="exampleInputPassword1">Password <span>*</span></label>
		    <input type="password" required name="password" class="form-control unicase-form-control text-input" id="data2" >
		</div>
		<div class="radio outer-xs">
		  	<label>
		    	<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Remember me!
		  	</label>
		  	<a href="{% url 'contact' %}" class="forgot-password pull-right">Forgot your Password?</a><br>
		  	<a href="{% url 'signup_user' %}" class="forgot-password pull-right">New? Signup Here</a>
		</div>
	  	<button type="submit" class="btn-upper btn btn-primary checkout-page-button">Login</button>
	</form>					
</div>
<!-- Sign-in -->



<!-- create a new account -->

<!-- create a new account -->			</div><!-- /.row -->
		</div><!-- /.sigin-in-->
		<!-- ============================================== BRANDS CAROUSEL ============================================== -->

<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->	</div><!-- /.container -->
</div><!-- /.body-content -->



{% endblock main %}



{% block extrajs %}
	<script>
		$( document ).ready(function() {
			var username = localStorage.getItem("username");
			if (username !== null) $('#data1').val(username);

			var password = localStorage.getItem("password");
			if (password !== null) $('#data2').val(password);
		});

		window.onbeforeunload = function() {
			localStorage.setItem("username", $('#data1').val());
			localStorage.setItem("password", $('#data2').val());
		}
		
	</script>
{% endblock extrajs %}
	 